<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Random Quote Machine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="wrapper">
      <div id="quote-box">
        <div id="text">

        </div>
        <div id="author"></div>
        <div id="new-quote"></div>
        <a id="tweet-quote"></a>
      </div>
    </div>
  </body>
</html>
